# Backend Server Configuration
PORT=8000
HOST=127.0.0.1

# Database Configuration
# Format: mysql+pymysql://<user>:<password>@<host>:<port>/<db_name>
DATABASE_URL=mysql+pymysql://root:password@localhost:3306/employee_db
